# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build outputs
dist/
build/

# Docker
pgdata/
docker-compose.override.yml

# OS-specific files
.DS_Store
Thumbs.db
