extends layout

block content

    h1(style="text-align: center") Envie de partager une recette ?
    p * : Requis
    form(action = "/add_recipe", method = "POST")
        div(style="text-align: justify")
            label(for = "title" style = "text-align: left") * Titre : 
            input(name = "title" placeholder = 'Titre de la recette' style = "text-align: right" required)
        br
        div(style="text-align: justify")
            label(for = "ingredients" style = "text-align: left") * Ingrédients : 
            input(name = "ingredients" placeholder = 'Liste des ingrédients' style = "text-align: right" required)
        br
        div(style="text-align: justify")
            label(for = "instructions" style = "text-align: left") * Instructions : 
            input(name = "instructions" placeholder = 'Étapes de préparation' style = "text-align: right" required)
        br
        div(style="text-align: justify")
            label(for = "category", style = "text-align: left") Catégorie : 
                input(type = 'radio' name = "category" value = "Entrée")
                label(for = "category") Entrée
                input(type = 'radio' name = "category" value = "Plat principal")
                label(for = "category") Plat principal
                input(type = 'radio' name = "category" value = "Dessert")
                label(for = "category") Dessert
        br
        div(style="text-align: center")
            button(type = "submit") Chaud devant !
