extends layout

block content

    h1= title

    h2 Récapitulatif

    p Le grimoire contient déjà !{recipe_count_with_category} recettes réparties dans !{category_count} catégories ainsi que !{recipe_count_without_category} sans catégorie.

    div
        a.btn(href='./recipe/add') Ajouter une recette