extends layout

block content

    h1(style="text-align: center")= title

    h2(style="text-align: center") Qu'est-ce qu'on mange ?

    p(style="text-align: center") Des cookies !

    div(style="text-align: center")
        a.btn(href='./add_recipe') Ajouter une recette