extends layout

block content
    h1= recipe.title

    p #[strong Catégorie :] #{recipe.category}
    
    p #[strong Ingrédients :] 
    pre #{recipe.ingredients}
    
    p #[strong Instructions :] 
    pre #{recipe.instructions}