html
html
    head
        title
        link(rel='stylesheet', href='/css/styles.css')
    body
        br
        div(style="text-align: center")
            a.msg_box(class = type) #{message}
        br
        br
        div(style="text-align: center")
            a.btn(href='./') Retour à la page d'accueil