.btn {
    background-color: #5dd161;
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
}

.btn:hover {
    background-color: #337534;
    border: 1px solid black;
    color: white;
}

button {
    border-radius: 26px;
}

button:hover { 
    background-color: rgb(113, 140, 139); 
    color: white; 
    transition-delay: 0.4s;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}